<h2>View: {{titleOfViewDisplay}}</h2>
<header>
  <menu-config (onSelectedView)="loadViewSelected($event)" (onSelectNumColumn)="setColumnsLayout($event)" (onSetPollingInterval)="setPollingInterval($event)" (onChangeFilterByJobsGrupo)="selectFilterByJobsGroupParam($event)" [urlJenkins]="urlJenkins">Configuration Menu</menu-config>
</header>

<div>
  <!-- Jobs List -->
  <ul id="widgets" [class] = "viewConfig.classColumn">
    <li *ngFor="let jobData of jobsModel" [ngClass]="jobData.setClasses()">
      <job  [jobModel]="jobData" ></job>
    </li>
  </ul>
</div>
