<header>
  <h2><a title="{{jobModel.name}}" href="{{jobModel.urlJob}}">{{jobModel.name}}</a> </h2>
</header>
<div class="slots">
<h1><a href="{{jobModel.urlJobExecution}}">{{jobModel.displayLastExecNumber}}</a>Configurations:<a  name="build" id="build" *ngFor="let jobBuild of jobModel.listDifBuildsConfiguration" href="{{jobBuild.urlJobExecution}}">{{jobBuild.displayLastExecNumber}}
  <span [ngSwitch]="jobBuild.result">
    <span *ngSwitchCase="'SUCCESS'">-V</span>
    <span *ngSwitchCase="'FAILURE'">-X</span>
    <span *ngSwitchCase="'UNSTABLE'">-UN</span>
    <span *ngSwitchCase="'ABORTED'">-AB</span>
    <span *ngSwitchCase="'DISABLED'">-N/A</span>
    <span *ngSwitchDefault>-!</span>
</span>
  <!--span *ngIf="jobBuild.result === 'SUCCESS'">-V</span><span *ngIf="jobBuild.result === 'FAILURE'">-X</span-->
</a></h1>

</div>

