  <nav id="menuLateral">
    <section [class.showSettings]="toggleSettings">
      <input id="settings-toggle" type="checkbox" class="settings" [(ngModel)]="toggleSettings"/>
      <label for="settings-toggle" title="Configure Build Monitor Settings">Settings</label>

      <ul>
        <li class="settings-option">
          <label for="combViewSelction">Views:</label>
          <select [(ngModel)]="viewConfig.jobsViewSelected" class="form-control" id="combViewSelction" name="combViewSelction" (ngModelChange)="loadViewSelected()" >
            <option *ngFor="let view of viewConfig.views" [selected]="view.name == viewConfig.jobsViewSelected.name" [disabled]="view.name == viewConfig.jobsViewSelected.name" [ngValue]="view">{{view.name}}</option>
          </select>
        </li>
        <li class="settings-option">
          <label for="combNumColumns">Maximun number of columns:</label>
          <select [(ngModel)]="viewConfig.numColSelected" class="form-control" id="combNumColumns" name="combNumColumns" (change)="setColumnsLayout()" >
            <option *ngFor="let numColumn of viewConfig.combNumColumns" [value]="numColumn">{{numColumn}}</option>
          </select>
        </li>
        <li class="settings-option">
          <form (ngSubmit)="onSubmit()" action="http://localhost:8080/monitor-pro/prove">
            <label for="inputPollInterval">Refresh interval (in seconds):</label>
            <input type="number" [(ngModel)]="viewConfig.pollingInterval" id="inputPollInterval" name="inputPollInterval" min="1" max="60">
            <input type="submit">
          </form>
        </li>
      </ul>
    </section>
  </nav>

